
<div class="container mx-auto px-2 py-8 flex items-center justify-center md:py-16">
  
  <form
    [formGroup]="signUpForm"
    (ngSubmit)="onSubmit()"
    *ngIf="sessionLoaded && departmentLoaded"
    class="w-full px-4 py-8 rounded shadow shadow-blue-500 md:w-96"
    >

    <app-form-message [error]="error"></app-form-message>
    
    <app-form-field 
      [parentForm]="signUpForm"
      controlName="firstName"
      inputId="first-name-input"
      labelText="First name"
      [errors]="firstNameError"
      >
    </app-form-field>

    <app-form-field 
      [parentForm]="signUpForm"
      controlName="lastName"
      inputId="last-name-input"
      labelText="Last name"
      [errors]="lastNameError"
      >
    </app-form-field>

    <app-form-field 
      [parentForm]="signUpForm"
      controlName="phoneNumber"
      maxLength="11"
      inputId="phone-number-input" 
      inputType="tel" 
      labelText="Phone number"
      [errors]="phoneNumberError"
      >
    </app-form-field>

    <app-form-field 
      [parentForm]="signUpForm"
      controlName="pin"
      maxLength="4"
      inputId="pin-input" 
      inputType="password" 
      labelText="Pin"
      [errors]="pinError"
      >
    </app-form-field>

    <app-form-select
      [parentForm]="signUpForm"
      controlName="sessionId"
      inputId="session-input"
      labelText="Session"
      [options]="sessions"
      [errors]="sessionIdError"
      >
    </app-form-select>

    <app-form-select
      [parentForm]="signUpForm"
      controlName="departmentId"
      inputId="department-input"
      labelText="Department"
      [options]="departments"
      [errors]="departmentIdError"
      >
    </app-form-select>

    <app-form-button label="Sign up" [loading]="loading"></app-form-button>

    <div class="text-center pt-4">
      <span>Already have an account? </span>
      <a routerLink="/sign-in" class="text-blue-500">Sign in</a>
    </div>

  </form>

  <app-loading *ngIf="sessionLoading || departmentLoading" size="big"></app-loading>

  <app-error-box
    *ngIf="sessionError !== null || departmentError !== null" 
    class="block" 
    [message]="sessionError || departmentError || ''"
    (action)="retryFetchSessionsOrDepartments()"
    >
  </app-error-box>

</div>
