<div class="container mx-auto px-2">

  <h2 class="font-bold text-2xl mb-4">Students</h2>

  <div class="border rounded p-2 overflow-auto">

    <app-table [data]="list">

      <tr head>
        <th class="py-3 px-2 text-left">S/N</th>
        <th class="py-3 px-2 text-left">Full name</th>
        <th class="py-3 px-2 text-left">Matriculation number</th>
        <th class="py-3 px-2 text-left">Phone number</th>
      </tr>

      <ng-template let-item>
        <tr app-student-item [item]="item"></tr>
      </ng-template>
      
      <tr *ngIf="loading">
        <td class="border rounded p-2" colspan="4">
          <app-loading class="block col-span-2" size="big"></app-loading>
        </td>
      </tr> 

      <tr *ngIf="error !== null">
        <td class="border rounded p-2" colspan="4">
          <app-error-box 
            class="block col-span-2" 
            [message]="error"
            (action)="retryFetchList()"
            >
          </app-error-box>
        </td>
      </tr> 
      
      <tr *ngIf="loaded && list.length === 0" >
        <td class="border rounded p-2" colspan="4">
          <app-list-empty 
            text="No student found" 
            class="block col-span-2"
            >
          </app-list-empty>
        </td>
      </tr> 
    
  </app-table>

</div>
