<li class="mb-4">
  <div class="shadow shadow-blue-500 p-2 rounded">
    <div class="mb-2 row-span-2">
      <div class="font-bold">Student details</div>
      <div>{{ item.student?.firstName }} {{ item.student?.lastName }}</div>
      <div>{{ item.student?.matriculationNumber }}</div>
      <a href="tel:{{ item.student?.phoneNumber }}" class="text-blue-500">{{ item.student?.phoneNumber }}</a>
    </div>

    <div class="mb-2 flex gap-2 items-center">
      <span class="font-bold">Sent on:</span>
      <span>{{ item.createdAt | date }}</span>
    </div>

    <figure class="mb-2">
      <figcaption class="font-bold">Listen to the report</figcaption>
      <audio controls [src]="item.recordUrl">
        Your browser does not support the audio element.
      </audio>
    </figure>

    <div *ngIf="item.reply !== null; else sendReplyButton">
      <div class="font-bold">Your reply</div>
      <p>{{ item.reply }}</p>
    </div>
    
    <ng-template #sendReplyButton>
      <button 
        (click)="toggleModal()"
        class="bg-blue-500 text-white px-2 py-1 rounded col-span-2 hover:bg-blue-400"
        >
        Send Reply
      </button>
    </ng-template>
  </div>

  <app-modal *ngIf="showModal">
    <form [formGroup]="updateForm" (ngSubmit)="onUpdateSubmit()" class="p-4">

      <app-form-message [error]="updateError" [success]="updateSuccess"></app-form-message>

      <app-form-textarea
        [parentForm]="updateForm"
        controlName="reply"
        inputId="reply-input"
        labelText="Enter your reply"
        >
      </app-form-textarea>

      <div class="flex gap-2 items-center" *ngIf="!updateLoading; else updateLoader">
        <button 
          type="button"
          (click)="toggleModal()"
          class="flex-grow p-2 font-bold rounded bg-gray-500 text-white hover:bg-gray-400" 
          >
          Close
        </button>

        <app-form-button label="Reply" [loading]="false" class="flex-grow"></app-form-button>
      </div>

      <ng-template #updateLoader>
        <app-loading></app-loading>
      </ng-template>

    </form>
  </app-modal>
</li>
