<div class="container mx-auto px-2 py-8 flex items-center justify-center md:py-16">

  <form
    [formGroup]="studentForm"
    (ngSubmit)="onSubmit()"
    *ngIf="courseAdviser !== null"
    class="w-full px-4 py-8 rounded shadow shadow-blue-500 md:w-96"
    >
    
    <h2 class="mb-2 font-bold text-lg">Register as a student of</h2>

    <div class="mb-4">
      <div class="font-bold">{{ courseAdviser?.firstName }} {{ courseAdviser?.lastName }}</div>
      <div>{{ courseAdviser?.department?.name }} ({{ courseAdviser?.department?.abbreviation }})</div>
      <div class="text-gray-500">{{ courseAdviser?.session?.startedAt }}/{{ courseAdviser?.session?.endedAt }} session</div>
    </div>

    <app-form-message [error]="error" [success]="success"></app-form-message>
    
    <app-form-field 
      [parentForm]="studentForm"
      controlName="firstName"
      inputId="first-name-input"
      labelText="First name"
      [errors]="firstNameError"
      >
    </app-form-field>

    <app-form-field 
      [parentForm]="studentForm"
      controlName="lastName"
      inputId="last-name-input"
      labelText="Last name"
      [errors]="lastNameError"
      >
    </app-form-field>

    <app-form-field 
      [parentForm]="studentForm"
      controlName="phoneNumber"
      maxLength="11"
      inputId="phone-number-input" 
      inputType="tel" 
      labelText="Phone number"
      [errors]="phoneNumberError"
      >
    </app-form-field>

    <app-form-field 
      [parentForm]="studentForm"
      controlName="matriculationNumber"
      maxLength="11"
      inputId="matriculation-number-input" 
      inputType="tel" 
      labelText="Matriculation number"
      [errors]="matriculationNumberError"
      >
    </app-form-field>

    <app-form-button label="Register" [loading]="loading"></app-form-button>

  </form>

  <app-loading *ngIf="courseAdviserLoading" size="big"></app-loading>

  <app-not-found *ngIf="courseAdviserNotFound" text="Course adviser could not be found" [onPage]="true"></app-not-found>

  <app-error-box
    *ngIf="courseAdviserError !== null" 
    class="block" 
    [message]="courseAdviserError"
    (action)="retryFetchCourseAdviser()"
    >
  </app-error-box>

</div>
